<div class="modal-md">
	<h2 mat-dialog-title>{{ title }}</h2>
	<mat-dialog-content>
		<form [formGroup]="form" class="d-flex flex-column">
			<mat-form-field
				[matTooltip]="
					'Wybierz zraszacz, żeby wygenerować domyślną nazwę'
				"
				[matTooltipPosition]="'right'"
			>
				<mat-label>Nazwa</mat-label>
				<input matInput [formControlName]="fields.name" />
			</mat-form-field>

			<mat-form-field>
				<mat-label>Zraszacz</mat-label>
				<mat-select [formControlName]="fields.sprinklerId">
					<mat-option
						*ngFor="let sprinkler of sprinklers$ | async"
						[value]="sprinkler.id"
						>{{ sprinkler.name }}</mat-option
					>
				</mat-select>
			</mat-form-field>

			<div class="row">
				<mat-form-field class="col-6">
					<mat-label>Start</mat-label>
					<input
						matInput
						[format]="24"
						[ngxTimepicker]="startTime"
						readonly
						[formControlName]="fields.startTime"
					/>
					<ngx-material-timepicker
						[theme]="timePickerTheme"
						#startTime
					></ngx-material-timepicker>
				</mat-form-field>

				<mat-form-field class="col-6">
					<mat-label>Koniec</mat-label>
					<input
						matInput
						[format]="24"
						[ngxTimepicker]="endTime"
						readonly
						[formControlName]="fields.endTime"
					/>
					<ngx-material-timepicker
						[theme]="timePickerTheme"
						#endTime
					></ngx-material-timepicker>
				</mat-form-field>
			</div>

			<mat-form-field>
				<mat-label>Czas ręczny (minuty)</mat-label>
				<input matInput [formControlName]="fields.manualTime" />
			</mat-form-field>

			<mat-checkbox [formControlName]="fields.isActive"
				>Aktywny</mat-checkbox
			>
		</form>
	</mat-dialog-content>
	<mat-dialog-actions [align]="'end'">
		<button
			*ngIf="mode === modes.Edit"
			mat-stroked-button
			color="warn"
			(click)="delete()"
		>
			Usuń
		</button>
		<button mat-stroked-button color="primary" mat-dialog-close>
			Anuluj
		</button>
		<button mat-raised-button color="accent">Zapisz</button>
	</mat-dialog-actions>
</div>
