html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.hide-on-xs {
    @media (max-width: 576px) {
		display: none;
	}
}

.modal-md {
	width: 400px;
	max-width: 100%;
}

.timepicker-overlay {
    z-index: 10000000 !important;
}

.timepicker-backdrop-overlay {
    z-index: 10000000 !important;
}